@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
/*html::-webkit-scrollbar-button {
  display: none;
}*/
body {
  overflow-x: hidden;
}
.nav-bar::-webkit-scrollbar-track {
  background-color: #1c1b23;
}
.nav-bar::-webkit-scrollbar {
  width: 0.7vw;
}
.nav-bar::-webkit-scrollbar-thumb {
  background-color: #14131a;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 0.3vw;
}
::-webkit-scrollbar-track {
  background-color: #1c1b23;
}
::-webkit-scrollbar-thumb {
  background-color: #8a898d;
  border-radius: 4px;
}
#root {
  width: 100vw;
  height: 100vh;
  background-color: #14131a;
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*###########################headwrapper#########################*/
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #14131a;
  z-index: 2;
  /* */
}
.header-wrapper .contact {
  text-decoration: none;
  margin-right: 1.6rem;
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #207448;
  border: 0;
  color: #8a898d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav-open {
  display: none;
}
.content {
  width: 100%;

  height: 93%;
  display: flex;
}
.menu_bar {
  font-size: 2rem;
  margin-right: 2rem;
  color: #8a898d;
  display: none;
}
.nav-bar {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 20%;
  margin-left: 2rem;

  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1b23;
  padding: 20px;
  z-index: 5;
}
.nav-container {
  width: 100%;
  height: 100%;
}
.nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #8b8a91;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.nav-bar p {
  font-size: 1.6rem;
  color: #8b8a91;
  margin-bottom: 20px;
}
.nav-bar li {
  list-style-type: none;
}
.nav-item {
  margin-bottom: 35px;
}
.nav-item:hover {
  transform: translateY(-3.5px);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.nav-list {
  margin-left: 10px;
  margin-top: 10px;
}
.nav-icon {
  font-size: 1.6rem;
}
.close {
  margin-left: 0%;

  width: 100%;
  height: 3rem;
  display: none;
  color: #8a898d;
}
.main-content {
  width: 80%;
  height: 150%;
  display: flex;
  flex-direction: column;
  margin-left: 22.5%;
  background-color: #14131a;
  margin-top: 6rem;
}
.projects p {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}
.skill-content {
  display: flex;
}

/*#######################Details##################*/

.details {
  background-image: url("../images/bg10.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 96%;
  height: 18rem;

  padding-left: 2em;
}
.details-container {
  width: 100%;

  height: 18rem;
  display: flex;
  align-items: center;
}
.profile-pic {
  width: auto;
  height: 60%;
  border-radius: 50%;

  background-color: #fa9528;
  overflow: hidden;
}
.display-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.detailsWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.profile-name h2 {
  width: 28rem;

  font-size: 3rem;
  color: #fff;
  margin-left: 3rem;
}
.follow-btn {
  width: auto;
  height: 5rem;
  margin-left: 0;
  margin-right: 3rem;
  border: 1px solid #dd2a7b /*rgba(79, 70, 229, 0.6)*/;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0.8rem;
}
.social-Insta-btn {
  width: 100%;
  height: 100%;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  background-color: #1c1b23;
  color: #8b8a91;
  font-size: 1.2rem;
  border-radius: inherit;
  border: 0;
}
.InstaIcon {
  width: auto;
  height: 90%;
  margin-right: 0.5rem;
}
.social-Insta-btn:hover {
  cursor: pointer;
}
/*#####################projects######################*/
.projects-list {
  width: 100%;
  height: 100%;
  border-radius: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-list:hover {
  cursor: pointer;
}
.slick-slide > div {
  width: 93%;

  height: 100%;
  border-radius: 0.8rem;
}
.projects {
  width: 90%;
  height: 30rem;
  display: flex;
  flex-direction: column;

  margin-left: 3%;
}
.projects-section {
  width: 100%;
  height: 90%;

  margin-top: 3em;
}
.slick-slider,
.slick-list,
.slick-track,
.slick-slide {
  width: 100%;
  height: 100%;
}
/*background-image: url("../images/learning.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7em;
  project-img list-item${projects.id}*/

.project-img {
  width: 100%;
  height: 60%;

  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7em;
}
/*.project-img1 {
  background-image: url("../images/learning.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.project-img2 {
  background-image: url("../images/music.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.project-img3 {
  background-image: url("../images/shopping.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.project-img4 {
  background-image: url("../images/weather.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}*/
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7em;
}
.project-title {
  font-size: 1.6rem;
  width: 100%;
  height: 40%;
  color: #14131a;
  padding: 2rem;
  background-color: #fff;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
.slick-slider .slick-prev::before {
  font-size: 3.5rem;
}
.slick-slider .slick-prev {
  left: -40px;
}
.slick-slider .slick-next::before {
  font-size: 3.5rem;
}
.slick-slider .slick-prev {
  right: -40px;
}
/*########################skill content################*/
.skill-content {
  width: 90%;
  height: 50rem;
  margin-left: 5%;
  margin-top: 5rem;
  align-items: center;
}
.skills {
  display: flex;
  width: 70%;
  height: auto;
  margin-top: -5%;
}
.skill-name {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;

  margin-left: 4%;
  border-radius: 0.6rem;
  background-color: #1c1b23;
  padding: 2%;
}
.skill-name button {
  width: auto;
  height: 3.5rem;
  padding: 0.5rem;
  border-radius: 0.7rem;
  margin: 0.3rem;
  background-color: #14131a;
  color: #8b8a91;
}
.skill-name h2 {
  color: #8b8a91;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.domain-skill {
  display: flex;
}
.frontend-skill {
  flex-wrap: wrap;
}
.yellowBorder {
  border: 1px solid rgba(255, 235, 59, 0.6); /* Yellow color with 60% opacity */
}
.blueBorder {
  border: 1px solid rgba(59, 130, 246, 0.6); /* Blue color with 60% opacity */
}
.greenBorder {
  border: 1px solid rgba(16, 185, 129, 0.6); /* Green color with 60% opacity */
}
.orangeBorder {
  border: 1px solid rgba(255, 165, 0, 0.6); /* Orange color with 60% opacity */
}
.others {
  color: #fff;
  width: 25%;
  height: 100%;
  padding: 3% 2% 3% 2%;
  border-radius: 0.7rem;
  background-color: #1c1b23;
}
.projects-head {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: #ffffffd4;
}
.other-project {
  width: auto;
  height: auto;
  justify-content: space-between;

  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.other-project-item {
  list-style-type: none;
  text-decoration: none;
}
.other-project:hover {
  cursor: pointer;
}
.other-project h2 {
  font-size: 1.6rem;
  color: #8b8a91;
}
.othersIcons {
  font-size: 1.6rem;
  color: #8b8a91;
}
.languages {
  font-size: 1.6rem;
}
/*##########################mediaquieries##################*/
@media (min-width: 700px) and (max-width: 1000px) {
  .nav-bar {
    display: none;
  }
  .menu_bar {
    display: block;
  }
  .showNav {
    display: block;
    width: 30rem;
    margin-left: 0;
  }
  .close {
    display: flex;
    justify-content: end;
  }
  .nav-open {
    display: block;
  }
  .main-content {
    width: 100%;
    margin-left: 0;
  }
  .details {
    width: 100%;
  }
  .projects {
    margin: 0 auto;
  }
  .slick-next {
    left: 98.5%;
  }
  .follow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .follow-btn p {
    display: none;
  }
  .social-Insta-btn {
    padding: 0.5rem 0rem 0.5rem 0.5rem;
  }
  .skill-content {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 11%;
  }
  .skills {
    width: 100%;
    flex-wrap: wrap;
  }
  .skill-name {
    width: 45%;
    height: 15rem;
    margin: 2%;
  }
  .others {
    width: 45%;
    height: 30rem;
    margin-left: 2%;
  }
}
@media (max-width: 700px) {
  .menu_bar {
    display: block;
  }
  .nav-bar {
    display: none;
  }
  .showNav {
    display: block;
    width: 30rem;
    margin-left: 0;
  }
  .close {
    display: flex;
    justify-content: end;
  }
  .nav-open {
    display: block;
  }
  .details {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .details-container {
    width: auto;
    height: 100%;
  }
  .details .follow-btn {
    display: none;
  }
  .main-content {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .projects {
    display: block;
    height: auto;
    margin: 0 auto;
  }
  .projects-section {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .projects-list {
    width: 100%;
    height: 35rem;
    margin-bottom: 1rem;
  }
  .project-img {
    width: 100%;
    height: 60%;
  }
  .project-title {
    height: 40%;
  }
  .skill-content {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 0;
    margin-top: 11%;
    padding: 5%;
  }
  .skills {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .skill-name {
    width: 90%;
    margin: 3%;
  }
  .others {
    width: 100%;
    height: auto;
    margin-top: 4%;
  }
  .skills button {
    font-size: 1.2rem;
  }
}
@media (min-width: 200px) and (max-width: 550px) {
  .menu_bar {
    display: block;
  }
  .nav-bar {
    display: none;
  }
  .showNav {
    display: block;
    width: 100vw;
    height: 100vh;
    margin-left: 0;
  }
  .close {
    display: flex;
    justify-content: end;
  }
  .nav-open {
    display: block;
  }
  .projects-list {
    width: 100%;
    height: 18%;
  }
  .skill-content {
    margin-top: 12%;
  }
  .details-container {
    width: auto;
    justify-content: center;
    align-items: center;
  }
  .profile-pic {
    width: auto;
    height: 60%;
  }
  .profile-name h2 {
    font-size: 200%;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    margin-left: 5%;
  }
  .projects {
    height: auto;
  }
  .projects-section {
    height: auto;
  }
  .projects-list {
    height: auto;
    margin-bottom: 1rem;
  }
  .project-img {
    height: 20rem;
  }
  .project-title {
    height: 10rem;
  }
  /*.projects-section {
    height: auto;
  }
  .projects-list {
    margin-bottom: 1rem;
  }
  .project-img img {
    height: 70%;
  }*/
}
