@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
#root {
  width: 100vw;
  height: 100vh;
  background-color: #14131a;
  overflow-x: hidden;
  border: 2px solid red;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*###########################headwrapper#########################*/
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1c1b23;
  z-index: 2;
  /*border: 2px solid red;*/
}
.header-wrapper button {
  margin-right: 5rem;
  width: 10rem;
  height: 3rem;
  border-radius: 0.8rem;
}
.content {
  width: 100%;
  border: 2px solid red;
  height: 93%;
  display: flex;
}
.main-content {
  width: 80%;
  border: 2px solid greenyellow;
  height: 150%;
  display: flex;
  flex-direction: column;
  margin-left: 22.5%;
  background-color: #14131a;
  margin-top: 6rem;
}
.skill-content {
  display: flex;
}
.nav-bar {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 20%;
  margin-left: 2rem;
  border: 2px solid green;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1b23;
  padding: 20px;
}
.nav-container {
  width: 100%;
  height: 100%;
  border: 2px solid green;
}
.nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #8b8a91;
}
.nav-bar p {
  font-size: 1.6rem;
  color: #8b8a91;
  margin-bottom: 20px;
}
.nav-bar li {
  list-style-type: none;
}
.nav-item {
  margin-bottom: 35px;
}
.nav-item:hover {
  transform: translateY(-3.5px);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.nav-list {
  margin-left: 10px;
  margin-top: 10px;
}
/*#######################Details##################*/

.details {
  width: 96%;
  height: 18rem;
  border: 2px solid red;
  padding-left: 2em;
}
.details-container {
  width: 100%;
  border: 2px solid red;
  height: 18rem;
  display: flex;
  align-items: center;
}
.profile-pic {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid red;
}
.profile-name h2 {
  width: 28rem;
  border: 2px solid red;
  font-size: 3rem;
  color: #fff;
  margin-left: 3rem;
}
.follow-btn {
  width: 50%;
  height: 5rem;
  margin-left: 10%;
  padding-right: 5rem;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/*#####################projects######################*/
.projects-list {
  width: 100%;
  height: 100%;
  border-radius: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-list:hover {
  cursor: pointer;
}
.slick-slide > div {
  width: 93%;
  border: 2px solid green;
  height: 100%;
  border-radius: 0.8rem;
}
.projects {
  width: 90%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  margin-left: 3%;
}
.projects-section {
  width: 100%;
  height: 90%;
  border: 2px solid red;
  margin-top: 3em;
}
.slick-slider,
.slick-list,
.slick-track,
.slick-slide {
  width: 100%;
  height: 100%;
}
/*background-image: url("../images/learning.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7em;
  project-img list-item${projects.id}*/

.project-img {
  width: 100%;
  height: 60%;
  border: 2px solid red;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7em;
}
/*.project-img1 {
  background-image: url("../images/learning.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.project-img2 {
  background-image: url("../images/music.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.project-img3 {
  background-image: url("../images/shopping.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.project-img4 {
  background-image: url("../images/weather.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}*/
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7em;
}
.project-title {
  font-size: 1.6rem;
  width: 100%;
  height: 40%;
  color: #14131a;
  padding: 2rem;
  background-color: #fff;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
.slick-slider .slick-prev::before {
  font-size: 3.5rem;
}
.slick-slider .slick-prev {
  left: -40px;
}
.slick-slider .slick-next::before {
  font-size: 3.5rem;
}
.slick-slider .slick-prev {
  right: -40px;
}
/*########################skill content################*/
.skill-content {
  border: 2px solid red;
  width: 90%;
  height: 50rem;
  margin-left: 5%;
  margin-top: 5rem;
  align-items: center;
}
.skills {
  display: flex;
  width: 70%;
  height: 50%;
  margin-top: -5%;
  border: 2px solid red;
}
.skill-name {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  margin-left: 4%;
  border-radius: 0.6rem;
  background-color: #1c1b23;
  padding: 2%;
}
.skill-name button {
  width: auto;
  height: 3.5rem;
  padding: 0.5rem;
  border-radius: 0.7rem;
  margin: 0.3rem;
  background-color: #14131a;
  color: #8b8a91;
}
.skill-name h2 {
  color: #8b8a91;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.domain-skill {
  display: flex;
}
.frontend-skill {
  flex-wrap: wrap;
}
.others {
  color: #fff;
  width: 25%;
  height: 100%;
  border: 2px solid yellow;
  padding: 3% 2% 3% 2%;
  border-radius: 0.7rem;
  background-color: #1c1b23;
}
.projects-head {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: #ffffffd4;
}
.other-project {
  width: 60%;
  height: auto;
  border: 2px solid red;
  margin-bottom: 3rem;
}
.other-project-item {
  list-style-type: none;
  text-decoration: none;
}
.other-project:hover {
  cursor: pointer;
}
.other-project h2 {
  font-size: 1.6rem;
  color: #8b8a91;
}
.languages {
  font-size: 1.6rem;
}
/*##########################mediaquieries##################*/
@media (min-width: 700px) and (max-width: 1000px) {
  .nav-bar {
    display: none;
  }
  .main-content {
    width: 100%;
    margin-left: 0;
  }
  .details {
    width: 100%;
  }
  .projects {
    margin-left: 4.5rem;
  }
  .slick-next {
    left: 98.5%;
  }
  .skill-content {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 11%;
  }
  .skills {
    width: 100%;
    flex-wrap: wrap;
  }
  .skill-name {
    width: 45%;
    height: 15rem;
    margin: 2%;
  }
  .others {
    width: 45%;
    height: 30rem;
    margin-top: 18%;
    margin-left: 2%;
  }
}
@media (max-width: 700px) {
  .nav-bar {
    display: none;
  }
  .details {
    width: 100%;
    padding: 0;
  }
  .details-container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .details .follow-btn {
    display: none;
  }
  .main-content {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .projects {
    display: block;
    height: auto;
  }
  .projects-list {
    width: 100%;
    height: 50rem;
    margin: 5% 2%;
  }
  .skill-content {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 0;
    margin-top: 11%;
    padding: 5%;
  }
  .skills {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .skill-name {
    width: 90%;
    margin: 3%;
  }
  .others {
    width: 100%;
    height: auto;
    margin-top: 4%;
  }
  .skills button {
    font-size: 1.2rem;
  }
}
